/* Reset CSS! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis! */
:root {
  --color-primary: #404040;
  --color-gray: #808080;
  --color-dark: #1e1e1e;
  --color-green: #049f51;
  --color-blue: #0350c4;
  --color-darkBlue: #1a3153;
  --color-body: #f5f5f5;
  --color-white: #ffffff;
  --color-drop: #ddd;
  --color-black: #000000;
  --color-card: #fff;
  --color-text: #000;
  --color-fundo: #fff;
  --color-shadow: #88888866;
}

.darkmode {
  --color--button: #ffffff;
  --color-primary: #404040;
  --color-gray: #808080;
  --color-dark: #dcdada;
  --color-darkBlue: #049f51;
  --color-blue: #39d98a;
  --color-green: #1a3153;
  --color-body: #322f35;
  --color-white: #ffffff;
  --color-drop: #808080;
  --color-black: #dcdada;
  --color-text: #dcdada;
  --color-card: #4f4e51;
  --color-fundo: #4f4e51;
  --color-shadow: #2f2f2f00;
}

.darkblue {
  color: var(--color-darkBlue);
}

/* Mais alguns pré-sets! */
html {
  font-size: 62.5%;
}

body {
  /* background-image: url(/images/backklinnes.svg); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.6rem;
  font-family: lato;
  background-color: var(--color-body);
  /* background-color: var(--color-body);
  ::selection {
    background-color: var(--color-green);
    color: #f5f5f5;
  } */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
