.cards1 {
  max-height: 15rem;
  border-radius: 1rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  justify-content: space-evenly;
}

.cards2 {
  /* max-width: 100%;
  height: 15rem;
  border-color: var(--color-dark);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; */
  max-height: 15rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: space-evenly;
}

.card-title {
  width: 100%;
}

.w-100 {
  gap: 1rem;
  margin: 0 auto 0 auto;
}

.item-card {
  min-height: 70%;
  box-shadow: var(--color-shadow) 0px 0px 10px 2px;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  transition: 0.5s;
  border-top: 1.1rem var(--color-darkBlue) solid;
  height: 10rem;
  justify-content: space-between;
  width: 100% !important;
  opacity: 1;
  background-color: var(--color-card);
  color: var(--color-text);

  & i {
    color: var(--color-text);
  }
}

.item-card:hover {
  border-top: 1.1rem var(--color-blue) solid;
}

.item-card2 {
  min-height: 70%;
  box-shadow: var(--color-shadow) 0px 0px 10px 2px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  opacity: 0.9;
  transition: 0.5s;
  border-top: 1.1rem var(--color-darkBlue) solid;
  /* margin-top: 2rem; */
  height: 10rem;
  justify-content: space-between;
  width: 100% !important;
  opacity: 1;
  background-color: var(--color-card);
  color: var(--color-text);

  & i {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--color-text);
  }
}

.item-card2:hover {
  border-top: 1.1rem var(--color-blue) solid;
}

.item-card i,
.item-card2 i {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: end;
  width: 50%;
}

.label {
  width: 100%;
  max-width: 100%;
  height: 0.5rem;
  border: 6px solid var(--color-darkBlue);
  border-radius: 1rem 1rem 0 0;
}

.label-2 {
  width: 100%;
  max-width: 100%;
  height: 0.5rem;
  border: 6px solid var(--color-darkBlue);
  border-radius: 1rem 1rem 0 0;
}

.valor {
  font-weight: bold;
}

i {
  margin-left: 0.5rem;
  font-size: 2rem;
  color: #c7c7c7;
  transition: 0.5fcus;
  cursor: pointer;
}

.cards-list {
  justify-content: space-evenly;
}

.ajuste-cards {
  width: 90%;
  margin: auto;
  margin-top: 2rem;

  & i {
    font-size: 1.6rem !important;
  }
}

.card-text {
  color: var(--color-black);
  font-size: 1.8rem;
}

.cards-list,
.cards-list2 {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 100%;
}

.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

h5{
  font-size: 1.6rem;
}

@media (width <= 1400px) {
  .cards-list,
  .cards-list2 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    gap: 2rem;
  }

  .ajuste-cards {
    margin-bottom: 45rem;
    margin-top: 4rem;
  }

  .fundo {
    height: 100rem;
    width: 90%;
  }

  .item-card {
    min-width: 80%;

    & i {
      justify-items: flex-end;
      align-items: flex-start;
      width: 100%;
    }
  }

  .item-card2 {
    min-width: 80%;

    & i {
      width: 100%;
    }
  }
}

@media (width <= 992px) {
  .ajuste-cards {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-wrap: wrap;
    height: 58rem;
    margin-bottom: -5rem;
  }

  .cards-list {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 100% !important;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .item-card {
    min-width: 100% !important;

    & i {
      justify-items: flex-end;
      width: 100%;
    }
  }

  .item-card2 {
    min-width: 80%;

    & i {
      width: 100%;
    }
  }

  .fundo {
    display: flex;
    align-items: center;
    margin-top: 9rem !important;
    margin-bottom: -5rem;
  }
}

@media (width <= 768px) {
  .cards-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    min-height: 12rem;
  }

  .ajuste-cards {
    margin-bottom: 75rem;
  }
}
