
#theme-switch {
  /* background-color: var(--color-dark);
    height: 3rem;
    width: 4rem; */
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-switch i:last-child {
  display: none;
}

.darkmode #theme-switch i:first-child {
  display: none;
}

.darkmode #theme-switch i:last-child {
  display: block;
}

.dropdown {
    & i {
      color: var(--color-dark);
      transition: 0.5s;
    }

    & i:hover{
      color: var(--color-blue);
    }
  

  & i:active {
    & i {
      color: var(--color-dark);
    }
  }
}
