body{
    background-image: url(/images/Group\ 1.svg);
}

.ajuste-divergencias{
    width: 90%;
    margin: 5rem auto auto auto;
    display: flex;
    justify-content: space-between;
    list-style: none;

    & p{
        font-size: 3rem;
        width: 100%;
        color: var(--color-dark);
        
    }

    & span{
        font-size: 2rem;
        color: var(--color-dark);
    }

    & li{
        color: var(--color-dark);
    }

}

.divergencia-1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem;
    background-color: var(--color-fundo);
    border-radius: 1rem;
    box-shadow: var(--color-shadow) 0px 5px 20px 5px;

    & button{
        width: 20%;
        margin: auto;
        border-radius: 10rem;
        padding: 1rem;
        background-color: var(--color-blue);
    }
}



.divergencia-1:last-child{
    margin-top: 1rem;
}

.divergencia-2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem;
    width: 30%;
    border-radius: 1rem;
    box-shadow: var(--color-shadow) 0px 5px 20px 5px;
    background-color: var(--color-fundo);
}

.laranja{
    color: #ffa500;
}

.vermelho{
    color: #ff0000;
}

.verde{
    color: #008000;
}

@media (width <= 1775px){
    .divergencia-1, .divergencia-1:last-child{
        padding: 4rem;
    }

    .divergencia-2{
        padding: 4rem;
        gap: 1.5rem;
    }
}

@media (width <= 1685px){
    .divergencia-1, .divergencia-1:last-child{
        padding: 2rem;
    }

    .divergencia-2{
        padding: 2rem;
        gap: 1rem;
    }
}

@media (width <= 1633px){
    .ajuste-divergencias{
        flex-direction: column;
        gap: 1rem;
    }

    .divergencia-1{
        height: 30rem;
    }

    .divergencia-1:last-child{
        height: 20rem;
    }

    .divergencia-2{
        width: 100%;
    }
}

@media (width <= 1100px){
    .divergencia-1{
        height: 35rem;
    }

    .divergencia-1:last-child{
        height: 25rem;
    }

    .divergencia-2{
        width: 100%;
        height: 45rem;
        margin-bottom: 2rem;
    }
}

@media (width <= 992px){
    .divergencia-1{
        height: 40rem;

        & .spantitlePendentes{
        }
    }

    .divergencia-1:last-child{
        height: 28rem;
    }

    .divergencia-2{
        width: 100%;
        height: 47rem;
        margin-bottom: 2rem;
    }
}

@media (width <= 630px){
    .divergencia-1{
        height: 45rem;
        gap: 1rem;

        & button{
            width: 80%;
        }
    }

    .divergencia-1:last-child{
        height: 28rem;
    }

    .divergencia-2{
        width: 100%;
        height: 47rem;
        margin-bottom: 2rem;
    }
}

@media (width <= 532px){
    .divergencia-1{
        height: 50rem;
        gap: 1rem;

        & button{
            width: 80%;
        }
    }
}

@media (width <= 453px){
    .divergencia-1{
        height: 60rem;
        gap: 1rem;
    }
}

@media (width <= 375px){
    .divergencia-1{
        height: 67rem;
        gap: 1rem;
    }

    .divergencia-1:last-child{
        height: 30rem;
    }

    .divergencia-2{
        width: 100%;
        height: 50rem;
        margin-bottom: 2rem;
    }
}

@media (width <= 320px){
    .divergencia-1{
        height: 75rem;
        gap: 1rem;
    }

    .divergencia-1:last-child{
        height: 32rem;
    }

    .divergencia-2{
        width: 100%;
        height: 52rem;
        margin-bottom: 2rem;
    }
}