.fundo-icons {
  width: 90%;
  height: 5rem;
  background-color: var(--color-fundo);
  border-radius: 1rem;
  margin: auto;
  box-shadow: var(--color-shadow) 0px 5px 20px 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;

  & p {
    margin-left: 2rem;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    color: var(--color-gray);
  }
}

.darkmode .fundo-icons p{
  color: var(--color-text);
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
}

@media (width <= 992px) {
  .fundo-icons {
    margin-top: 12rem;

    & p{
      display: none;
    }
  }
}
