#localAtual {
  color: var(--color-green);
}

.header {
  height: 15rem !important;
  display: flex;
  gap: 2rem;
  margin-bottom: 5rem;
}

.header a {
  transition: 0.5s;
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 500;
}

.header a:hover {
  color: var(--color-white);
}

.header-items {
  width: 100%;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
}

.header-items li {
  justify-content: center;
  display: flex;
}

.header-items nav {
  display: flex;
  width: 70%;
  gap: 20rem;
  align-items: center;
}

.header-items ul {
  gap: 6rem;
  display: flex;
  width: 100%;
}

.icons {
  height: 3rem;
  display: flex;
  gap: 5rem;
  width: 100%;
  color: #dcdcdc;

  & i {
    font-size: 2.5rem;
    color: var(--color-text);
    transition: 0.5s;
    display: flex;
    align-items: center;
    min-height: 3rem;
  }

  & a {
    display: flex;
    gap: 30rem;
    align-items: flex-end;
  }

  & i:hover {
    color: var(--color-white);
  }
}

.icons-list {
  width: 100%;
  display: flex;
  align-items: center;
}

.headerIconsList {
  align-items: center;
  margin-bottom: 1.1rem;
}

.headerList {
  justify-content: flex-end;
  min-width: 63%;
  max-width: 63%;
  & ul {
    & li {
      font-size: 1.8rem;
    }
  }
}

ul {
  gap: 4rem;
  margin: auto;
}

.px-4 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.container-fluid {
  justify-content: space-around !important;
}

.navbar-toggler-icon{
  color: var(--color-white);
}

.fa-bars{
  color: var(--color-black);
}

@media (width > 1920px) {
  .headerList {
    min-width: 59%;
    max-width: 59%;

    & ul {
      & li {
        font-size: 2rem;
      }
    }
  }
}

@media (width <= 1920px) {
  .headerList {
    min-width: 62%;
    max-width: 62%;

    & ul {
      & li {
        font-size: 2rem;
      }
    }
  }
}

@media (width <= 1600px) {
  .headerList {
    min-width: 65%;
    max-width: 65%;
  }
}

@media (width <= 1400px) {
  .headerList {
    min-width: 67%;
    max-width: 67%;
  }
}
@media (width <= 1200px) {
  .headerList {
    min-width: 66%;
    max-width: 66%;

    & ul {
      & li {
        font-size: 2rem;
      }
    }
  }
}

@media (width < 992px) {
  .headerList {
    min-width: 100%;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotateZ(180deg);
  }

  .navbar-toggler-icon {
    transition: 0.7s;
  }

  .navbar-toggler {
    order: 1;
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-brand {
    order: 2;
  }

  .headerIconList {
    order: 3;
  }

  .navbar-collapse {
    order: 4;
    transition: 0.7s ease-out;
  }
  /* :first-child: vai adicionar o margin-top somente no primeiro filho */
  .headerIconsList li:first-child {
    margin-top: 4rem;
  }

  .container-fluid {
    border-radius: 0 0 1rem 1rem;
    background-color: var(--color-white) !important;
    box-shadow: var(--color-shadow) 0px 5px 20px 5px;
    padding: 1rem;
    padding: 1rem;
    width: 100%;
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }

  .darkmode .container-fluid {
    background-color: var(--color-fundo) !important;
  }
}
