.tooltip-icon {
    position: relative;
    display: inline-block;

    & span{
        font-size: 1.2rem;
      }
  }
  
  .tooltip-icon .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--color-gray);
    color: var(--color-body);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-icon .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-gray) transparent transparent transparent;
  }
  
  .tooltip-icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .darkmode .tooltip-icon .tooltiptext{
    background-color: var(--color-white);
    color:var(--color-body);
  }

  .darkmode .tooltip-icon .tooltiptext::after{
    border-color: var(--color-white) transparent transparent transparent;
  }

  /* tooltip header */
  .tooltip-header {
    position: relative;
    display: inline-block;

    & span{
        font-size: 1.2rem;
      }
  }
  
  .tooltip-header .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--color-gray);
    color: var(--color-body);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 3rem;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip-header:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .darkmode .tooltip-header .tooltiptext{
    background-color: var(--color-white);
    color:var(--color-body);
  }

  .darkmode .tooltip-header .tooltiptext::after{
    border-color: var(--color-white) transparent transparent transparent;
  }